*{
    margin: 0;
}
body
{
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 940px){
    .menu_container{
        display: none;
    }
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}
.navbar_container{
    display: flex;
    align-items: center;
    font-family: 'Sen', sans-serif;
    padding: 0 50px;
    height: 100%;
    color: white;
}
.logo_container{
    flex: 1;
}
.logo{
    font-size: 30px;
    color: red;
}
.menu_container{
    flex: 6;
}
.menu_list{
    display: flex;
    list-style: none;
}
.menu_list-item{
    margin-right: 30px;
}
.menu_list-item .menu_list-item-bold {
    font-weight:bold;
}
.profile_container{
    flex: 2;
    display: flex;
    align-items:center;
    align-items: center;
    justify-content: flex-end;

}
.profile_text-container{
    margin: 0 20px;
}
.profile_picture{
    width: 32px;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle_icon{
    color: goldenrod;
}
.toggle_ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}
.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top :0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.left_menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}
/* Content */
.container{
    background-color: #151515;
   min-height: calc(100vh - 50px);
    color: white;

}
.container_content{
    margin-left: 50px;
}
.featured_content{
    height: 50vh;
    padding: 50px;
}
.featured_title{
    width: 200px;
}
.featured_desc{
    width: 500px;
    color: lightblue;
    margin: 50px 0;
}
.featured_button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: normal;
}
/*  */
.movie_list-container{
    padding: 0 20px;
}
.movie_list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie_list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: 1s all ease-in-out;

}
.movie_list-item{
    margin-right: 30px;
    position: relative;
}
.movie_list-item:hover .movie_list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
}
.movie_list-item:hover .movie_list-item-title,
.movie_list-item:hover .movie_list-item-desc,
.movie_list-item:hover .movie_list-item-button{
    opacity: 0.8 ;
}
.movie_list-item-title{
    background-color: #333;  
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold; 
    position: absolute;
    top: 10%;
    left: 50px;
    opacity:0 ;
    transition: 1s all ease-in-out;
}
.movie_list-item-desc{
    display: inline;
    background-color: #333;  
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity:0 ;
    transition: 1s all ease-in-out;

}
.movie_list-item-button{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom:  10px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;

}
.movie_list-item-img{
    transition: all 0.5s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
/*  */
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
}
.container.active {
    background-color: white;
  }
  
  .movie_list-title.active {
    color: black;
  }
  
  .navbar_container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left_menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle_ball.active{
      background-color: white;
      transform: translateX(-20px);
  }